// Place all the styles related to the api/Boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.boards-index-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  padding: 35px;
}

.board-create {
  margin: 20px;
  height: 200px;
  width: 300px;
  background: $light-gray;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  &:hover {
    opacity: 0.6;
  }
}

.board-index-item {
  margin: 15px 20px;
  height: 200px;
  width: 300px;
  :hover {
    opacity: 0.6;
  }
}

.board-index-item-thumbnail {
  border-radius: 3px;
  height: 200px;
  object-fit: cover;
}

.board-index-item-title {
  font-size: 15px;
  display: flex;
  justify-content: center;
  color: $dark-gray;
}
