// Place all the styles related to the api/Boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.boards-index-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.board-index-item {
  height: 200px;
  width: 300px;
}

.board-index-item-thumbnail {
  height: 200px;
  object-fit: cover;
}
