// Place all the styles related to the api/follows controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.follow-button {
  color: $light-gray;
  background: $logo-red;
  border-radius: 5%;
  width: 100px;
  height: 30px;
}

.unfollow-button {
  color: $dark-gray;
  background: $light-gray;
  border-radius: 5%;
  width: 100px;
  height: 30px;
}

.follows-container {
  align-self: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  padding: 35px;
}

.follows-item {
  margin: 15px;
  height: 180px;
  width: 150px;
  &:hover {
    opacity: 0.6;
  }
}

.follows-thumbnail {
  border-radius: 50%;
  height: 150px;
  object-fit: cover;
}
