.footer-main {
  display: flex;
  flex-direction: column;
  // height: 300px;
  z-index: 10;
  position: fixed;
  // top: 70%;
  bottom: 20px;
  right: 2%;
}

.footer-main .fa {
  padding: 15px;
  margin-bottom: 15px;
  font-size: 20px;
  color: $dark-gray;
  background: white;
  border-radius: 50%;
  border: 1px solid $light-gray;
  box-shadow: 0px 2px 0px $gray;
  &:hover {
    background-color: $light-gray;
  }
}

.fa.fa-plus {
  color: $logo-red;
}
