
.pin-show-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.pinning-dropdown-container {
  align-self: flex-start;
}

.pin-show-board-select {
  border: 0;
  background: $light-gray;
  font-size: 20px;
  color: $dark-gray;
}

.fa.fa-thumb-tack.board-show-pin {
  font-size: 20px;
  color: $logo-red;
}

.pin-show-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: 20px;
}

.pin-show-user-img {
  border-radius: 50%;
  width: 70px;
  height: 70px;
}
//
.pin-show-title{
  font-size: 25px;
  font-weight: bold;
  color: $gray;
}
//
.pin-show-img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  background: $light-gray;
}

.pin-show-img {
  border-radius: 3px;
  width: auto;
  height: 90%;
}

.pin-show-description {
  font-size: 15px;
  color: $dark-gray;
}
