// Place all the styles related to the api/pins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.pins-index-container {
  padding-top: 30px;
  margin: 0 auto;
}

.pins-modal-item {
  width: 250px;
  margin-bottom: 15px;
}

.pins-modal-item:hover {
  opacity: 0.6;
}

.pin-modal-img {
  border-radius: 3px;
}

.pin_show_container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.pin_show_title{
  font-size: 25px;
  color: $dark-gray;
}

.pin-show-img {
  border-radius: 3px;
  margin: 15px;
}

.pin_show_description {
  font-size: 15px;
  color: $dark-gray;
}
