// Place all the styles related to the api/pins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.pins-index-container {
  padding-top: 30px;
  margin: 0 auto;
}

.pins-index-item {
  width: 250px;
  margin-bottom: 15px;
  border-radius: 20px;
}

.pins-index-item:hover {
  cursor: pointer;
  opacity: 0.6;
}

.pin-img {
  border-radius: 3px;
}
