// Place all the styles related to the Api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login-form-container {
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-image: url(https://static1.squarespace.com/static/51c748abe4b0c275d0aa86bf/56141631e4b0095d43132f02/5614164ae4b018c0454fd5e0/1444744691618/patagonia-cinemagraph.gif?format=1000w);
  background-size: cover;
  position: absolute;
}

.tint {
  z-index: 1;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form-box {
  background: white;
  height: 500px;
  width: 375px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}

.fa.fa-pinterest {
  color: $logo-red;
  font-size: 50px;
}

.login-welcome {
  color: $dark-gray;
  font-weight: bold;
  font-size: 25px;
}

.login-tagline {
  color: $gray;
  font-weight: bold;
  font-size: 18px;
}

.login-form {
  padding-top: 15px;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.login-input-container {
  width: inherit;
  display: flex;
  flex-direction: column;
}

.login-input {
  margin-top: 10px;
  padding-left: 10px;
  height: 33px;
  font-weight: bold;
  font-size: 13px;
  background-color: $light-gray;
  outline: none;
  border-radius: 3px;
}

.session-errors {
  color: red;
}

.session-button-container {
  width: inherit;
  flex-direction: column;
  font-size: 14px;
}

.session-button {
  background: $logo-red;
  color: white;
  height: 30px;
  width: 100%;
  border-radius: 3px;
  margin-bottom: 10px;
}

.session-button:hover {
  opacity: 0.8;
}

.navLink {
  margin-bottom: 15px;
  text-decoration: underline;
  color: $dark-gray;
}

.privacy-footer {
  color: $gray;
  font-size: 11px;
}
