// Place all the styles related to the Api/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-profile-pic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
